* {
    text-align: center;
}
span {
    font-weight: 500;
}
.movie {
    width: 48%;
    margin: 24px 1%;
    font-weight: 300;
    color: #adaeb9;
    padding: 40px;
    margin-bottom: 70px;
    position: relative;
    transition: all 0.7s 0.2s;
}
.movie img {
    width: 400px;
    filter: grayscale(100%);
}
.movie:hover {
    transform: scale(1.1);
}
.movie:hover img {
    filter: grayscale(0);
}
.movies {
    display: flex;
    flex-flow: row wrap;
}
.movie_data {
    width: 400px;
    height: 230px;
    background: rgba(0,0,0,0.4);
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}
.movie_title {
    font-size: 24px;
    margin-bottom: 4px;
    font-weight: 400;
}
.movie_data .movie_genre {
    list-style-type: none;
    display: inline-block;
    margin-right: 16px;
    padding: 0;
}
.movie_year {
    font-size: 18px;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: #212121;
}